# Azure Storage Account
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;

# Azure Event Hubs
EVENTHUB_NAMESPACE=<eventhub>
EVENTHUB_CONNECTION_STRING=<Endpoint>

# Container Names
RAW_CONTAINER_NAME=recipe-raw-images
PROCESSED_CONTAINER_NAME=recipe-processed-images

# Event Hub Name
EVENTHUB_NAME_UPLOADS=image-uploads
KAFKA_TOPIC=image-uploads

# Application Settings
PORT=8080
NODE_ENV=production
